section{
    background-image: url(assets/img/photo-1460602594182-8568137446ce.avif);
    background-size: contain;
    color: #fff;
    text-align: center;
    padding: 2em;
}

article{
    background-image: url(assets/img/photo-1603398749947-87246022fbf9.avif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}